<div id="container">
  <a href="https://mlh.io" target="_blank" class="mlh" alt="Major League Hacking" title="Major League Hacking"></a>

  <h1>Welcome</h1>
  <p>To use, visit <strong>http://no-light.mlh.io/[enter hackathon name]</strong></p>
</div>