<form action="/submit" method="post" id="editor">
  <input type="hidden" name="submission[hackathon]" value="<%= params[:hackathon] %>" id="submission_hackathon" />
  <input type="hidden" name="submission[seconds]"   value="<%= Time.now %>"           id="submission_seconds" />

  <header>
      <button type="submit" id="submit">!light</button> <!-- Submit button -->

      <div id="sponsors">
          <img src="/img/mlh/mlh-white.png" alt="Major League Hacking" title="Major League Hacking">
          <div class="custom-branding"></div>
      </div>
  </header>

  <textarea name="submission[html]" id="submission_html" spellcheck="false" placeholder="Enter your code here ..."></textarea>

  <div id="count">
    <div id="characters"><em>0</em> CHARS</div>
    <div id="lines"><em>0</em> LINES</div>
  </div>
</form>