<div id="container">
  <a href="https://mlh.io" target="_blank" class="mlh"></a>
  <h1 class="error">Sorry - Already Submitted</h1>
  <p>You have already submitted this code under the name <%= @submission.name %>.</p>
</div>