<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <title>No Light Powered by MLH</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
      <meta name="viewport"              content="width=device-width, initial-scale=1">
      <meta http-equiv="robots"          content="noindex, nofollow" />

      <link rel="stylesheet" href="/css/vendor/normalize.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/extended.css">
  </head>
  <body class="<%= @body_class %>">

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= yield %>

    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/js/vendor/promise-polyfill-2.1.0.min.js"></script>
    <script src="/js/app.js"></script>         
  </body>
</html>