<div id="container">
  <a href="https://mlh.io" target="_blank" class="mlh"></a>

  <h1>Submission received - <%= @submission.name %></h1><br>
  <span id="code">
    It took you <%= @submission.to_min_secs %> minutes.
    You wrote <%= @submission.lines %> lines of code / <%= @submission.bytes %> bytes.
  </span>

  <br />
  <br />

  <img src="/img/ui/success.png" />
</div>
