/** FONTS **/

@font-face {
    font-family: 'Code New Roman';
    src: url('/fonts/code-new-roman.otf');
}

@font-face {
    font-family: 'MLH Outage';
    src: url('/fonts/outage.ttf');
}

/** GENERAL STYLING **/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Code New Roman', 'Helvetica Neue', 'Arial', 'Verdana', 'Times New Roman';
  font-size: 19px;
}

body.editor {
  background: #333;
}

#container {
  width: 750px;
  margin: 0 auto;

  text-align: center;
}

/** LOGO **/

#container a.mlh {
  display: block;

  background: url("/img/mlh/mlh.png") no-repeat center center;
  background-size: auto 90px;

  width: 100%;
  height: 180px;
}

#container img {
  max-width: 40%;
}

/** HEADER **/

header {
  width: 100%;
  min-height: 150px;
  height: 20%;
}

header #submit {
  line-height: 1;
  margin: 25px 0;
  font-size: 80px;
  border: 0;
  outline: none;
  float: left;
  cursor: pointer;
  padding: 15px;
  background: #999;
  vertical-align: top;
  font-family: 'MLH Outage', 'Arial', 'Verdana', 'Times New Roman';
}

header #submit:active {
  position: relative;
  top: 3px;
  background: yellow;
  color: #333;
}

header #submit.progress {
  background: url('/img/ui/loading.gif') no-repeat center center #fff;
  background-size: 15%;
  color: transparent;
}

header #sponsors {
  margin: 35px 0;
  float: right;
  vertical-align: top;
}

header #sponsors img {
  max-height: 60px;
  margin: 0 30px;
  padding: 15px 0 0;
}

header #sponsors .custom-branding {
  display: inline-block;
  vertical-align: top;

  width: 0px;
  height: 80px;
}

form {
  height: 100%;
}

/** TYPOGRAPHY **/

#container h1 {
  display: block;
  padding: 10px 10px;
  font-size: 32px;
  background: #fff;
  border-bottom: 2px solid #eee;
  color: #333;
  margin: 20px 0;
  font-family: 'MLH Outage', 'Arial', 'Verdana', 'Times New Roman';
}

#container h1.error {
  color: #ff4900;
}

#container p {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 0;
}

#container p a {
  color: #fff;
  text-decoration: none;
}

#container p a:hover {
  text-decoration: underline;
}

#container textarea {
  width: 700px;
  height: 150px;
  font-size: 15px;
  padding: 10px;
  background: #555;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  resize: none;
  outline: none;
}

#container span#code {
  background: #222;
  color: #fff;
  border: 2px solid #333;
  display: inline-block;
  width: 700px;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/** EDITOR **/

#editor {
  position: relative;
  color: #fff;
}

#editor textarea {
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 19px;

    width: 100%;
    padding: 10px 25px;
    border: none;
    height: 100%;
}

#editor textarea:focus {
    outline: none;
}

#editor #count {
  color: #9f9f9f;
  padding: 10px;
  font-size: 17px;
  text-align: right;
  position: absolute;
  top: 170px;
  right: 0;
}

#editor #count:hover {
  cursor: pointer;
}

#editor #count.hide {
  color: transparent;
}

/** CUSTOM BRANDING **/

.dell #sponsors .custom-branding {
  background: url('/img/sponsors/dell-windows.png') no-repeat 0px 17px;
  background-size: 260px auto;

  width: 290px;
}

.bloomberg #sponsors .custom-branding {
  background: url('/img/sponsors/bloomberg.png') no-repeat 10px 20px;
  background-size: 85% auto;

  width: 300px;
}

.kcl #sponsors .custom-branding {
  background: url('/img/sponsors/kcl.png') no-repeat 0 10px;
  background-size: auto 85%;

  width: 220px;
}

.github #sponsors .custom-branding {
  background: url('/img/sponsors/github.png') no-repeat 0 10px;
  background-size: auto 85%;

  margin-right: 50px;
  width: 220px;
}

/** LAYOUT **/

.current-user {
  bottom: 10px;
  color: white;
  font-size: 0.75rem;
  position: fixed;
  right: 10px;
}

.current-user a {
  color: #FF69B4;
}